body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 600px;
    margin: auto;
}

.box{
    background-color: #4f46e5;
    color: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;

}

@media (max-width:600px){
    .container{
        grid-template-columns: 1fr;
    }
}
