*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    line-height: 1.6;
    background-color: #f4f4f4;
}

h2{
    margin-bottom: 8px;
}

ul{
    margin-bottom: 20px;
    padding-left: 20px;
}

li{
    margin-bottom: 5px;
}

.card-container{
    display: flex;
    gap: 20px;
}

.card{
    background-color: #ffff;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    box-shadow: 0 4px 8px rgba(0,0,0,1.0);
}

#inputs{
    display:block;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .card-container{
        flex-direction: column;
    }
    
}
